
[Unit]
Description=OpenDDS SmartLock
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/home/pi/smartlock/smartlock.sh start-system

[Install]
WantedBy=multi-user.target
