
[Unit]
Description=OpenDDS SmartLock
After=network.target

[Service]
Type=forking
User=pi
ExecStart=/home/pi/smartlock/smartlock.sh start
ExecStop=/home/pi/smartlock/smartlock.sh stop
PIDFile=/home/pi/smartlock.pid

[Install]
WantedBy=multi-user.target
