#!/bin/bash

export ANDROID_HOME=path to Android SDK

PI_NAMES=(pi_1 pi_2)

pi_1_ip=1.2.3.4
pi_1_lock_id='lock1'

pi_2_ip=172.16.10.65
pi_2_lock_id='lock2'

RTPS_RELAY_IP_PI=35.227.46.107
RTPS_RELAY_IP_ANDROID=35.227.46.107

RTPS_RELAY_PORT_PI=4444
RTPS_RELAY_PORT_ANDROID=5444

ENABLE_SECURITY=1
