
[Unit]
Description=OpenDDS SmartLock
After=network.target

[Service]
Type=forking
User=pi
ExecStart=/home/pi/SmartLock/smartlock.sh --lock lock2 start
ExecStop=/home/pi/SmartLock/smartlock.sh --lock lock2 stop
PIDFile=/home/pi/smartlock-lock2.pid

[Install]
WantedBy=multi-user.target
