**/*TypeSupport*
**/.obj
**/.depend*
**/*.so*
**/GNUmakefile*
*.vcxproj*
*.obj
*.ilk
*.exp
*.[ip]db
*.ipdb
*.iobj
*.recipe
*.opensdf
*.sdf
*.sln
*.pch
*.suo
*.res
*.VC.db
*.VC.opendb
.vs/
/ipch
*.exe
smartlock
smartlock_env
certs
rtps.ini
