<?xml version="1.0" encoding="utf-8"?>
<resources>
    <bool name="init_opendds">true</bool>
    <bool name="secure_opendds">false</bool>
    <bool name="add_fake_locks">false</bool>
    {LOCKS}
    <string-array name="groups">
        <item>house1</item>
    </string-array>
</resources>
